
.button{
    -fx-background-color: #e5e5e5;
}
.TextField{
    -fx-background-color: greenyellow;
}

#altura{
    -fx-background-color: greenyellow;
    
}
#peso{
    -fx-background-color: greenyellow;
}
#fondo{
    -fx-background-color: gray;
}